.version.index /* version checker */
{
	color: #0000E6;
	background-color: #963B2C;
}

#page
{
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
}

#u1305,#u99
{
	border-width: 0px;
	min-height: 57px;
	width: 200px;
	position: relative;
	background-color: transparent;
}

#u1225-4,#u1322-4,#u101-4,#u100-4
{
	font-family: play, sans-serif;
	color: #FFFFFF;
	background-color: transparent;
	font-style: normal;
	position: relative;
	font-weight: 400;
	font-size: 24px;
	width: 144px;
	text-transform: uppercase;
	min-height: 19px;
	line-height: 29px;
}

#u1271,#u1254,#u1288,#u1331,#u95,#u97,#u98,#u94,#u96,#u2540
{
	border-width: 0px;
	min-height: 57px;
	width: 200px;
	position: relative;
	background-color: transparent;
	border-color: transparent;
}

#u2577
{
	border-width: 0px;
	position: relative;
	background-color: transparent;
	border-color: transparent;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1701px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 116.79999999999995px;
		padding-top: 321px;
		padding-bottom: 62.200000000000045px;
		max-width: 1937px;
	}

	#u2320
	{
		z-index: 2;
		min-height: 1279px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: fixed;
		top: 0px;
	}

	#u2320-bw
	{
		z-index: 2;
	}

	#pu1225-4
	{
		z-index: 19;
		width: 100%;
	}

	#u1225-4
	{
		z-index: 19;
		margin-right: -10000px;
		margin-left: 100%;
		left: -953px;
	}

	#u1322-4
	{
		z-index: 27;
		margin-right: -10000px;
		margin-left: 100%;
		left: -715px;
	}

	#u101-4
	{
		z-index: 23;
		margin-right: -10000px;
		margin-left: 100%;
		left: -475px;
	}

	#u100-4
	{
		z-index: 15;
		margin-right: -10000px;
		margin-left: 100%;
		left: -227px;
	}

	#pu1271
	{
		z-index: 3;
		margin-top: 10px;
		width: 100%;
	}

	#u1271
	{
		z-index: 3;
		margin-right: -10000px;
		margin-left: 100%;
		left: -953px;
	}

	#u1305
	{
		z-index: 14;
		margin-right: -10000px;
		margin-left: 100%;
		left: -715px;
	}

	#u95
	{
		z-index: 6;
		margin-right: -10000px;
		margin-left: 100%;
		left: -475px;
	}

	#u98
	{
		z-index: 12;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -235px;
	}

	#pu1254
	{
		z-index: 5;
		margin-top: 5px;
		width: 100%;
	}

	#u1254
	{
		z-index: 5;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -953px;
	}

	#u1288
	{
		z-index: 7;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -715px;
	}

	#u97
	{
		z-index: 10;
		margin-right: -10000px;
		margin-left: 100%;
		left: -475px;
	}

	#u94
	{
		z-index: 4;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -235px;
	}

	#pu1331
	{
		z-index: 11;
		margin-top: 4px;
		width: 100%;
	}

	#u1331
	{
		z-index: 11;
		margin-right: -10000px;
		margin-left: 100%;
		left: -715px;
	}

	#u96
	{
		z-index: 8;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -235px;
	}

	#pu99
	{
		z-index: 13;
		margin-top: 6px;
		width: 100%;
	}

	#u99
	{
		z-index: 13;
		margin-right: -10000px;
		margin-left: 100%;
		left: -715px;
	}

	#u2540
	{
		z-index: 9;
		margin-right: -10000px;
		margin-left: 100%;
		left: -235px;
	}

	#u2577
	{
		z-index: 31;
		min-height: 100px;
		margin-top: 130px;
		width: 15.75%;
		margin-left: 84.26%;
		left: -155px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 896px);
	}
}

@media (min-width: 1076px) and (max-width: 1700px)
{
	#button1 {
	  width: 200px !important; 
	  background: rgba(102,102,102,0.4) !important;  
	}
	
	#muse_css_mq
	{
		background-color: #0006a4;
	}

	#bp_1700.active
	{
		display: block;
	}

	#page
	{
		min-height: 325.8499999999999px;
		padding-top: 112px;
		padding-bottom: 62.15000000000009px;
		max-width: 1700px;
	}

	#u2320
	{
		z-index: 2;
		min-height: 1279px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: fixed;
		top: 0px;
	}

	#u2320-bw
	{
		z-index: 2;
	}

	#pu1225-4
	{
		z-index: 19;
		width: 100%;
	}

	#u1225-4
	{
		z-index: 19;
		margin-right: -10000px;
		margin-left: 100%;
		left: -454px;
	}

	#u101-4
	{
		z-index: 23;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu1271
	{
		z-index: 3;
		margin-top: 5px;
		width: 100%;
	}

	#u1271
	{
		z-index: 3;
		margin-right: -10000px;
		margin-left: 100%;
		left: -454px;
	}

	#u95
	{
		z-index: 6;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu1254
	{
		z-index: 5;
		margin-top: 6px;
		width: 100%;
	}

	#u1254
	{
		z-index: 5;
		margin-right: -10000px;
		margin-left: 100%;
		left: -454px;
	}

	#u97
	{
		z-index: 10;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu1322-4
	{
		z-index: 27;
		margin-top: 59px;
		width: 100%;
	}

	#u1322-4
	{
		z-index: 27;
		margin-right: -10000px;
		margin-left: 100%;
		left: -459px;
	}

	#u100-4
	{
		z-index: 15;
		margin-right: -10000px;
		margin-left: 100%;
		left: -221px;
	}

	#pu1305
	{
		z-index: 14;
		margin-top: 11px;
		width: 100%;
	}

	#u1305
	{
		z-index: 14;
		margin-right: -10000px;
		margin-left: 100%;
		left: -458px;
	}

	#u98
	{
		z-index: 12;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu1288
	{
		z-index: 7;
		margin-top: 5px;
		width: 100%;
	}

	#u1288
	{
		z-index: 7;
		margin-right: -10000px;
		margin-left: 100%;
		left: -458px;
	}

	#u94
	{
		z-index: 4;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu1331
	{
		z-index: 11;
		margin-top: 6px;
		width: 100%;
	}

	#u1331
	{
		z-index: 11;
		margin-right: -10000px;
		margin-left: 100%;
		left: -458px;
	}

	#u96
	{
		z-index: 8;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#pu99
	{
		z-index: 13;
		margin-top: 5px;
		width: 100%;
	}

	#u99
	{
		z-index: 13;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -459px;
	}

	#u2540
	{
		z-index: 9;
		margin-right: -10000px;
		margin-left: 100%;
		left: -231px;
	}

	#u2577
	{
		z-index: 31;
		min-height: 73px;
		margin-top: 78px;
		width: 25.42%;
		margin-left: 74.59%;
		left: -88px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 821px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (min-width: 471px) and (max-width: 1075px)
{
	#button1 {
	  width: 200px !important; 
	  background: rgba(102,102,102,0.4) !important;  
	}
	
	#muse_css_mq
	{
		background-color: #000433;
	}

	#bp_1075.active
	{
		display: block;
	}

	#page
	{
		min-height: 376px;
		padding-top: 62px;
		padding-bottom: 62px;
		max-width: 1075px;
	}

	#pu1225-4
	{
		z-index: 18;
		width: 36.84%;
		margin-left: 31.59%;
	}

	#u1225-4
	{
		z-index: 18;
		margin-right: -10000px;
		margin-left: 50%;
		left: -217.49999999999994px;
	}

	#u101-4
	{
		z-index: 22;
		margin-right: -10000px;
		margin-left: 50%;
		left: 34.50000000000006px;
	}

	#pu1271
	{
		z-index: 2;
		margin-top: 5px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u1271
	{
		z-index: 2;
		margin-right: -10000px;
		margin-left: 50%;
		left: -219.5px;
	}

	#u95
	{
		z-index: 5;
		margin-right: -10000px;
		margin-left: 50%;
		left: 34.5px;
	}

	#pu1254
	{
		z-index: 4;
		margin-top: 6px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u1254
	{
		z-index: 4;
		margin-right: -10000px;
		margin-left: 50%;
		left: -219.5px;
	}

	#u97
	{
		z-index: 9;
		margin-right: -10000px;
		margin-left: 50%;
		left: 34.5px;
	}

	#pu100-4
	{
		z-index: 14;
		margin-top: 80px;
		width: 37.03%;
		margin-left: 31.49%;
	}

	#u100-4
	{
		z-index: 14;
		margin-right: -10000px;
		margin-left: 50%;
		left: -220.5px;
	}

	#u1322-4
	{
		z-index: 26;
		margin-right: -10000px;
		margin-left: 50%;
		left: 33.5px;
	}

	#pu98
	{
		z-index: 11;
		margin-top: 6px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u98
	{
		z-index: 11;
		margin-right: -10000px;
		margin-left: 50%;
		left: -220.5px;
	}

	#u1305
	{
		z-index: 13;
		margin-right: -10000px;
		margin-left: 50%;
		left: 33.5px;
	}

	#pu94
	{
		z-index: 3;
		margin-top: 5px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u94
	{
		z-index: 3;
		margin-right: -10000px;
		margin-left: 50%;
		left: -220.5px;
	}

	#u1288
	{
		z-index: 6;
		margin-right: -10000px;
		margin-left: 50%;
		left: 33.5px;
	}

	#pu96
	{
		z-index: 7;
		margin-top: 5px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u96
	{
		z-index: 7;
		margin-right: -10000px;
		margin-left: 50%;
		left: -220.5px;
	}

	#u1331
	{
		z-index: 10;
		margin-right: -10000px;
		margin-left: 50%;
		left: 33.5px;
	}

	#pu2540
	{
		z-index: 8;
		margin-top: 6px;
		width: 42.24%;
		margin-left: 28.89%;
	}

	#u2540
	{
		z-index: 8;
		margin-right: -10000px;
		margin-left: 50%;
		left: -220.5px;
	}

	#u99
	{
		z-index: 12;
		margin-right: -10000px;
		margin-left: 50%;
		left: 33.5px;
	}

	#u2577
	{
		z-index: 30;
		min-height: 100px;
		margin-top: 68px;
		width: 45.49%;
		margin-left: 27.26%;
		left: 24px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 804px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 470px)
{
	#button1 {
	  width: 200px !important; 
	  background: rgba(102,102,102,0.4) !important;  
	}
	
	#muse_css_mq
	{
		background-color: #0001d6;
	}

	#bp_470.active
	{
		display: block;
	}

	#page
	{
		min-height: 406px;
		padding-top: 32px;
		padding-bottom: 62px;
		max-width: 470px;
	}

	#u1225-4
	{
		z-index: 18;
		margin-left: 71px;
	}

	#u1271
	{
		z-index: 2;
		margin-left: 69px;
		margin-top: 5px;
	}

	#u1254
	{
		z-index: 4;
		margin-left: 69px;
		margin-top: 6px;
	}

	#u1322-4
	{
		z-index: 26;
		margin-left: 69px;
		margin-top: 19px;
	}

	#u1305
	{
		z-index: 13;
		margin-left: 69px;
		margin-top: 5px;
	}

	#u1288
	{
		z-index: 6;
		margin-left: 69px;
		margin-top: 6px;
	}

	#u1331
	{
		z-index: 10;
		margin-left: 69px;
		margin-top: 5px;
	}

	#u99
	{
		z-index: 12;
		margin-left: 69px;
		margin-top: 6px;
	}

	#u101-4
	{
		z-index: 22;
		margin-left: 72px;
		margin-top: 27px;
	}

	#u95
	{
		z-index: 5;
		margin-left: 69px;
		margin-top: 15px;
	}

	#u97
	{
		z-index: 9;
		margin-left: 69px;
		margin-top: 4px;
	}

	#u100-4
	{
		z-index: 14;
		margin-left: 69px;
		margin-top: 27px;
	}

	#u98
	{
		z-index: 11;
		margin-left: 69px;
		margin-top: 6px;
	}

	#u94
	{
		z-index: 3;
		margin-left: 69px;
		margin-top: 5px;
	}

	#u96
	{
		z-index: 7;
		margin-left: 69px;
		margin-top: 5px;
	}

	#u2540
	{
		z-index: 8;
		margin-left: 69px;
		margin-top: 4px;
	}

	#u2577
	{
		z-index: 30;
		min-height: 100px;
		margin-left: 63px;
		margin-top: 26px;
		width: 68.09%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1164px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 360px;
	}
}

